h1 Dit is de pagina voor de winkel #{ store.name }.
img(src=store.logopath)
ul
  li
    a(href="/") Home
ul
  li Beschrijving: #{ store.description }
    li BTW-nummer: #{ store.vatnumber }
    li Postcode: #{ store.postcode }
    li Email: #{ store.email }
    li: a(href= store.site ) Site
    li Tags:
      ul
        each val, index in tags
          li
            a(href="/tags/" + val.id) #{val.name}
